*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bakbak One', cursive;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Viga', sans-serif;

}
#main{
 width: 100vw;
 height: 100vh;
 background-color: #f6f6f6; 
 display: grid;
 place-items: center;
text-transform: uppercase;



}
#img_container{
    width: 18rem;
    height: 18rem;
    margin: auto;
}
#img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4);
}
#musicdiv{
  width: 25rem;
  height: 31rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
  padding: 3rem ;
  text-align:center;
 
}
#music_control{
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#tittle{
    padding: 10px;
    margin-top: -15px;
   
}
#artist{
    padding-bottom: 10px;
    
    margin-bottom: 12px;
}
#play{
background-color: black;
color: white;
border-radius: 50%;
padding: 10px;
}
.anime{
    animation: rotateplayer 3s linear infinite ;
}
@-webkit-keyframes  rotateplayer{
    from{
        transform: rotate(0deg);
 }
    to{
        transform: rotate(360deg);  
    }
}